@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
@import url("../font/Butler_Webfont/stylesheet.css");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", sans-serif;
    color: #fff;
    background-color: #000;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.5;
    font-family: "Butler", sans-serif;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.container {
    margin: 0 auto;
    max-width: 1166;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    width: 100%;

    ul {
        padding-left: 0;
        width: 100%;

        li {
            position: relative;
            display: inline-block;
            margin: 0 20px;
            list-style: none;

            a {
                font-size: 1.2em;
                text-decoration: none;
                color: #fff;
                transition: all ease-in-out 0.3s;
                text-transform: uppercase;
            }

            &:hover {
                a {
                    color: goldenrod;
                }

                &::before {
                    width: 100%;
                    transition: all ease-in-out 0.3s;
                }
            }

            &::before {
                position: absolute;
                bottom: -10px;
                width: 0%;
                height: 2px;
                background-color: goldenrod;
                content: "";
            }
        }
    }

    .logo {
        user-select: none;
    }
}

.banner {
    display: flex;
    align-items: flex-end;
    height: 100vh;
    background: url("../images/Nov14/banner.jpg") no-repeat;
    background-position: top;
    background-size: cover;

    .text {
        padding-bottom: 100px;
        text-align: center;
    }

    h1 {
        margin-bottom: 0.5rem;
        color: #fffd;
        text-transform: capitalize;
        user-select: none;
    }

    p {
        color: #fffd;
        text-transform: capitalize;
        user-select: none;
    }
}

.btn {
    position: relative;
    z-index: 9;
    display: inline-block;
    padding: 1rem 4rem;
    margin-top: 3rem;
    font-family: "Space Grotesk", sans-serif;
    text-decoration: none;
    color: #000;
    background-color: #fffc;
    border-radius: 0.5rem;
    transition: all ease 0.5s;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 400;

    &::before {
        position: absolute;
        top: 0%;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 0;
        background-color: #000c;
        border-radius: 0.5rem;
        opacity: 90%;
        transition: all ease 0.5s;
        content: "";
    }

    &:hover {
        color: #fff;

        &::before {
            top: 0;
            height: 100%;
        }
    }
}

.brand-logo {
    padding: 2rem;

    .brand-logo-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        user-select: none;
    }
}

.sec1 {
    position: relative;
    padding: 4rem 0;

    h3 {
        text-transform: uppercase;
    }

    .sec1-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .text {
            width: 47%;
        }

        .text-left {
            text-align: right;
        }

        .text-right {
            text-align-last: left;
        }
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to left, transparent, #fff, transparent);
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}

.sec2 {
    padding: 100px 0 0;

    h2 {
        text-transform: uppercase;
    }

    .sec2-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .img {
            width: auto;
        }

        .text {
            z-index: 9;
            margin-left: -4rem;
            width: 50%;

            .text-inner {
                position: relative;
                margin: 55px 0 0 190px;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0.5rem;
                    left: -2rem;
                    width: 1px;
                    height: 100%;
                    background: linear-gradient(to top, transparent, #fff);
                }
            }
        }
    }

    &:nth-child(even) {
        .sec2-inner {
            .text {
                margin-right: -65px;
                text-align: right;

                .text-inner {
                    margin: 55px 190px 0 0;

                    &::before {
                        right: -30px;
                        left: inherit;
                    }
                }
            }
        }
    }
}

.sec3 {
    padding: 7rem 0 0;

    .container {
        .sec3-inner {
            margin-top: 5rem;

            h2 {
                padding: 0 0 2rem 2rem;
                min-width: 60%;
                text-transform: capitalize;
            }

            .slick-arrow {
                position: absolute;
                top: -10rem;
            }

            .slick-prev,
            .slick-next {
                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 70px;
                    height: 70px;
                    background: #fff url(../images/Nov14/arrow-next.svg) no-repeat;
                    background-position: center;
                    background-size: 1rem;
                    border: 1px solid #fff;
                    content: "";
                    line-height: 70px;
                    opacity: 100%;
                }
            }

            .slick-prev {
                right: 180px;
                left: inherit;

                &::before {
                    background: transparent url(../images/Nov14/arrow-prev.svg) no-repeat;
                    background-position: center;
                    background-size: 1rem;
                }
            }

            .slick-next {
                right: 90px;
            }
        }
    }
}

.sec4 {
    padding: 6rem 2rem;

    h2 {
        text-transform: capitalize;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 0.1rem;
    }

    .sec4-boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 5rem;

        .box {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            margin-bottom: 2rem;
            width: 23%;
            min-height: 300px;
            outline: 1px solid #fff;

            h6 {
                z-index: 2;
                font-size: 2rem;
                font-family: "Space Grotesk", sans-serif;
                text-transform: capitalize;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.1rem;
            }

            .img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                opacity: 0%;
                transition: all ease-in-out 1s;

                img {
                    width: 100%;
                }
            }

            &:hover {
                .img {
                    opacity: 100%;
                }
            }
        }
    }
}

.footer {
    position: relative;
    padding: 3rem 2rem;

    .footer-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .col {
            padding-right: 3rem;

            img {
                user-select: none;
            }
        }
    }

    ul {
        margin-left: 0;

        li {
            margin-bottom: 2rem;
            list-style: none;

            a {
                font-size: 1rem;
                text-decoration: none;
                color: #fff;
                font-weight: 400;
                letter-spacing: 0.1rem;
                line-height: 1.5;
                text-transform: capitalize;
                transition: all ease-in-out 0.3s;
            }

            &:hover {
                a {
                    color: goldenrod;
                }
            }
        }
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to left, transparent, #fff, transparent);
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}

.copyright {
    padding: 1rem;
    text-align: center;
    user-select: none;
}
