@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
@import url("../font/Butler_Webfont/stylesheet.css");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Lato, sans-serif;
    color: #333;
    background: #7ed6df;
    transition: 0.6s linear;
}

.product-card {
    padding: 40px;
    width: 400px;
    background-color: #ecedef;
    text-transform: uppercase;

    h1 {
        margin-bottom: 0.5rem;
        font-size: 2rem;
        line-height: 1.5;
        font-weight: 700;
        letter-spacing: 0.2rem;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.2rem;
        line-height: 1.5;
    }

    .product-pic {
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
        background-image: url("../images/Nov25/1.png");
        transition: 0.6s linear;
    }

    .product-colors {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

        span {
            position: relative;
            width: 1rem;
            height: 1rem;
            background-color: #ffa;
            border-radius: 50%;
            cursor: pointer;

            + span {
                margin-left: 1rem;
            }

            &.active {
                &::after {
                    position: absolute;
                    top: -0.2rem;
                    left: -0.2rem;
                    width: 1.4rem;
                    height: 1.4rem;
                    border: 1px solid #333;
                    border-radius: 50%;
                    content: "";
                }
            }
        }

        .blue {
            background-color: #7ed6df;
        }

        .green {
            background-color: #badc58;
        }

        .yellow {
            background-color: #f9ca24;
        }

        .rose {
            background-color: #ff7979;
        }
    }

    .product-info {
        display: flex;
        align-items: center;

        .product-price {
            font-size: 2rem;
            color: #7ed6df;
        }

        .product-button {
            padding: 0.5rem 1rem;
            margin-left: auto;
            font-size: 1rem;
            text-decoration: none;
            color: #7ed6df;
            border: 2px solid;
            border-radius: 1rem;
            transition: 0.4s linear;
            line-height: 1.5;
            font-weight: 700;
            letter-spacing: 0.1rem;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media (max-width: 540px) {
    .product-card {
        transform: scale(0.8);
    }
}
