@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
@import url("../font/Butler_Webfont/stylesheet.css");

$primary-color: #ff105e;
$secondary-color: #ffa;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    background: #091921;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    background-size: cover;
    border: 4px solid #091921;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(255, 255, 255, 0.3), inset 0 15px 15px rgba(255, 255, 255, 0.3);
    background-image: url(../images/Nov21/clock.png);
    animation: bgcolor 30s linear infinite;

    .hour,
    .min,
    .sec {
        position: absolute;
    }

    .hour,
    .hr {
        width: 160px;
        height: 160px;
    }

    .min,
    .mn {
        width: 190px;
        height: 190px;
    }

    .sec,
    .sc {
        width: 230px;
        height: 230px;
    }

    .hr,
    .mn,
    .sc {
        position: absolute;
        display: flex;
        justify-content: center;
        border-radius: 50%;
    }

    .hr {
        &::before {
            position: absolute;
            z-index: 10;
            width: 8px;
            height: 80px;
            background-color: $primary-color;
            border-radius: 6px 6px 0 0;
            content: "";
        }
    }

    .mn {
        &::before {
            position: absolute;
            z-index: 20;
            width: 4px;
            height: 90px;
            background-color: lighten($primary-color, 15%);
            border-radius: 6px 6px 0 0;
            content: "";
        }
    }

    .sc {
        &::before {
            position: absolute;
            z-index: 30;
            width: 2px;
            height: 150px;
            background-color: lighten($primary-color, 30%);
            border-radius: 6px 6px 0 0;
            content: "";
        }
    }

    &::before {
        position: absolute;
        z-index: 1000;
        width: 15px;
        height: 15px;
        background-color: #fff;
        border-radius: 50%;
        content: "";
    }
}

@media (max-width: 540px) {
    .clock {
        transform: scale(0.8);
    }
}

@keyframes bgcolor {
    to {
        filter: hue-rotate(360deg);
    }
}
