@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
@import url("../font/Butler_Webfont/stylesheet.css");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  color: #fff;
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5;
  font-family: "Butler", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.container {
  margin: 0 auto;
  max-width: 1166;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 100px;
  width: 100%;
}

.header ul {
  padding-left: 0;
  width: 100%;
}

.header ul li {
  position: relative;
  display: inline-block;
  margin: 0 20px;
  list-style: none;
}

.header ul li a {
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  text-transform: uppercase;
}

.header ul li:hover a {
  color: goldenrod;
}

.header ul li:hover::before {
  width: 100%;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.header ul li::before {
  position: absolute;
  bottom: -10px;
  width: 0%;
  height: 2px;
  background-color: goldenrod;
  content: "";
}

.header .logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100vh;
  background: url("../images/Nov14/banner.jpg") no-repeat;
  background-position: top;
  background-size: cover;
}

.banner .text {
  padding-bottom: 100px;
  text-align: center;
}

.banner h1 {
  margin-bottom: 0.5rem;
  color: #fffd;
  text-transform: capitalize;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.banner p {
  color: #fffd;
  text-transform: capitalize;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn {
  position: relative;
  z-index: 9;
  display: inline-block;
  padding: 1rem 4rem;
  margin-top: 3rem;
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
  color: #000;
  background-color: #fffc;
  border-radius: 0.5rem;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 400;
}

.btn::before {
  position: absolute;
  top: 0%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 0;
  background-color: #000c;
  border-radius: 0.5rem;
  opacity: 90%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  content: "";
}

.btn:hover {
  color: #fff;
}

.btn:hover::before {
  top: 0;
  height: 100%;
}

.brand-logo {
  padding: 2rem;
}

.brand-logo .brand-logo-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sec1 {
  position: relative;
  padding: 4rem 0;
}

.sec1 h3 {
  text-transform: uppercase;
}

.sec1 .sec1-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec1 .sec1-inner .text {
  width: 47%;
}

.sec1 .sec1-inner .text-left {
  text-align: right;
}

.sec1 .sec1-inner .text-right {
  text-align-last: left;
}

.sec1::before, .sec1::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(#fff), to(transparent));
  background: linear-gradient(to left, transparent, #fff, transparent);
}

.sec1::before {
  top: 0;
}

.sec1::after {
  bottom: 0;
}

.sec2 {
  padding: 100px 0 0;
}

.sec2 h2 {
  text-transform: uppercase;
}

.sec2 .sec2-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sec2 .sec2-inner .img {
  width: auto;
}

.sec2 .sec2-inner .text {
  z-index: 9;
  margin-left: -4rem;
  width: 50%;
}

.sec2 .sec2-inner .text .text-inner {
  position: relative;
  margin: 55px 0 0 190px;
}

.sec2 .sec2-inner .text .text-inner::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: -2rem;
  width: 1px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#fff));
  background: linear-gradient(to top, transparent, #fff);
}

.sec2:nth-child(even) .sec2-inner .text {
  margin-right: -65px;
  text-align: right;
}

.sec2:nth-child(even) .sec2-inner .text .text-inner {
  margin: 55px 190px 0 0;
}

.sec2:nth-child(even) .sec2-inner .text .text-inner::before {
  right: -30px;
  left: inherit;
}

.sec3 {
  padding: 7rem 0 0;
}

.sec3 .container .sec3-inner {
  margin-top: 5rem;
}

.sec3 .container .sec3-inner h2 {
  padding: 0 0 2rem 2rem;
  min-width: 60%;
  text-transform: capitalize;
}

.sec3 .container .sec3-inner .slick-arrow {
  position: absolute;
  top: -10rem;
}

.sec3 .container .sec3-inner .slick-prev::before,
.sec3 .container .sec3-inner .slick-next::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  background: #fff url(../images/Nov14/arrow-next.svg) no-repeat;
  background-position: center;
  background-size: 1rem;
  border: 1px solid #fff;
  content: "";
  line-height: 70px;
  opacity: 100%;
}

.sec3 .container .sec3-inner .slick-prev {
  right: 180px;
  left: inherit;
}

.sec3 .container .sec3-inner .slick-prev::before {
  background: transparent url(../images/Nov14/arrow-prev.svg) no-repeat;
  background-position: center;
  background-size: 1rem;
}

.sec3 .container .sec3-inner .slick-next {
  right: 90px;
}

.sec4 {
  padding: 6rem 2rem;
}

.sec4 h2 {
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

.sec4 .sec4-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5rem;
}

.sec4 .sec4-boxes .box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-bottom: 2rem;
  width: 23%;
  min-height: 300px;
  outline: 1px solid #fff;
}

.sec4 .sec4-boxes .box h6 {
  z-index: 2;
  font-size: 2rem;
  font-family: "Space Grotesk", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

.sec4 .sec4-boxes .box .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0%;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}

.sec4 .sec4-boxes .box .img img {
  width: 100%;
}

.sec4 .sec4-boxes .box:hover .img {
  opacity: 100%;
}

.footer {
  position: relative;
  padding: 3rem 2rem;
}

.footer .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-inner .col {
  padding-right: 3rem;
}

.footer .footer-inner .col img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.footer ul {
  margin-left: 0;
}

.footer ul li {
  margin-bottom: 2rem;
  list-style: none;
}

.footer ul li a {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  text-transform: capitalize;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.footer ul li:hover a {
  color: goldenrod;
}

.footer::before, .footer::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(#fff), to(transparent));
  background: linear-gradient(to left, transparent, #fff, transparent);
}

.footer::before {
  top: 0;
}

.footer::after {
  bottom: 0;
}

.copyright {
  padding: 1rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/*# sourceMappingURL=Nov14.css.map */